<button class="w-100 h-100 text-center d-block wrapper">
  <div class="card w-100 position-relative">
    <div class="card-body">
      <img [src]="content.image_url" class="img-fluid img-small" />
      <b class="card-title pt-3 d-block">{{ content.name }}</b>
      <small class="card-subtitle mb-2 text-muted d-block ">{{ content.tagline }}</small>
      <button class="btn btn-link position-absolute" (click)="toggleFavorite(); $event.stopPropagation();">
        <i class="far fa-star" [class.fas]="content.favorite" [class.text-warning]="content.favorite"></i>
      </button>
    </div>
  </div>
</button>
