/* You can add global styles to this file, and also import other style files */

$body-bg: #eee;

@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@fortawesome/fontawesome-free/css/all.css"; */

.text-upper{
  text-transform: uppercase;
}
body, html{
  height: 100%;
  min-height: 100%;
}
app-main {
  .main-container {
    height: 100%;
    min-height: 100%;
    > header, > nav {
      background: $orange;
    }
    > header{
      form {
        max-width: 400px;
        margin: auto;
      }
    }
    > .container {
      max-width: 700px;
    }
  }
}
img.img-small{
  height: 100px !important;
}
app-list-item {
  padding-bottom: 1rem !important;
  display: block;
  height: 100%;

  button.wrapper{
    border: none;
    background: none;
    padding: 0;
    &:hover, &:focus{
      box-shadow: 0 0 21px rgba(0,0,0,.2);
    }
  }
  .card{
    height: 100%;
    transition: box-shadow .3s;
  }

  .card-title{
    color: $orange;
  }
  button.position-absolute{
    top: 8px;
    right: 8px;
  }
}
app-detail {
  h4, h5, h6 {
    color: $orange;
  }
  .properties{
    position: relative;
    &:before{
      content:'';
      position: absolute;
      top:0;
      left: 0;
      background: purple;
      width: 100px;
      height: 5px;
    }
  }
  .similar .card {
    border: solid 1px #999;
    height: 100%;;
  }

}
