
<div class="main-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
style="height: 400px; overflow-y: scroll;">
  <nav class="sticky-top text-right pb-1">
    <a class="btn btn-link text-light text-upper" [routerLink]="['/']" (click)="clearFilter()">Home</a>
    <a class="btn btn-link text-light text-upper" [routerLink]="['/favorite']">Favorite</a>
  </nav>
  <header>
    <div class="text-center text-light">
      <h1>The Beer Bank</h1>
      <p><em>Find your favourite beer here</em></p>
      <app-filter></app-filter>
    </div>
  </header>
  <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>

</div>
